body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}


/*Header*/

#header {
    background: transparent url(Images/bg-header.jpg) no-repeat scroll center top;
    height: 667px;
    background-size: cover;
    background-position: center bottom;
}

.container {
    width: 940px;
    margin: 0 auto;
}

#logo-header {
    float: left;
    padding-top: 15px;
}


/*Main-menu*/
#main-menu {
    float: right;
    font-size: 13px;
    line-height: 13px;
    font-weight: 900;
    padding-top: 30px;
}

#main-menu ul {
    margin: 0;
    padding: 0;
}

#main-menu ul li {
    list-style-type: none;
    display: inline-block;
}

#main-menu ul li a {
    text-decoration: none;
    padding: 5px 11px;
    color: #ffffff;
    display: block;
}

#main-menu ul li:last-child a {
    padding-right: 0;
}

#main-menu ul li a:hover,
#main-menu ul li.selected-item a {
     color: #00e0d0;
}


/*Title*/

#text-intro {
    clear: both;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    color: #ffffff;
}

#text-intro h1 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 900;
    padding-top: 156px;
}

#text-intro h1:after {
    content: "";
    display: block;
    border-top: 1px solid #00e0d0;
    width: 50px;
    margin: 21px auto 24px;
}

#text-intro p {
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    word-spacing: 6px;
}

.button-intro {
    color: #00e0d0;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Hammersmith One', sans-serif;
    text-decoration: none;
    border: 1px solid #00e0d0;
    padding: 11px 15px 8px;
    display: inline-block;
    margin-top: 18px;
}


/*Middle-section*/

#middle-section {
   background-color: #ffffff;
}

#logo-about {
    float: left; 
    padding: 73px 100px 73px 65px;
}

#about {
    padding-top: 60px;  
    padding-left: 36px;
}

h2 {
    font-family: 'Playfair Display', Arial, serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    color: #413d4b;
    margin-top: 7px;  
    text-transform: uppercase;
}

#about p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.03em;
    line-height: 1.5;
    color: #817f86;   
    padding: 6px;
}

.button-about {
    color: #00e0d0;
    font-size: 16px;
    line-height: 13px;
    font-family: 'Hammersmith One', sans-serif;
    text-decoration: none;
    border: 1px solid #00e0d0;
    padding: 13px;
    display: inline-block;
    margin-top: 9px;   
}


/*Main-articles*/

#main-articles {
    text-align: center;
    margin-top: 96px;
}

#main-articles .subtitle {
    font-family: 'Playfair Display', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #2f2d35;
    opacity: 0.75;
    margin-top: 11px;
    margin-bottom: 15px;
}


 #main-articles .subtitle:after {
    content: "";
    display: block;
    border-top: 2px solid #c6c4c9;
    width: 50px;
    height: 2px;
    margin: auto;
    color: #adadad;
    margin: 20px auto 24px;
}


/*Article column*/

.article-column {
    float: left;
    width: 33.33%;
    border-top: 1px solid #ebebeb;   
    box-sizing: border-box;
    padding-top: 40px;
}

.article-column:nth-child(3n+2) {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.article-column:nth-child(1),
.article-column:nth-child(2),
.article-column:nth-child(3) {
    border-top: none;
}
    
.article-column-image-wrapper {
    height: 50px;
}

h3 {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.05em;
    line-height: 1.5;
    color: #413d4b; 
    margin-top: 25px;  
}

#main-articles .box p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 1.7;
    color: #333333;
    opacity: 0.75;
}

#main-articles .box p {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

/*Footer*/

#footer {
    background: transparent url(Images/bg-footer.png) no-repeat scroll center top;
    width: 100%;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.column-footer {
     float: left;
     width: 33.33%;
}

.clear_div {
     clear: both;
}

#logo-footer {
    padding-top: 9px;
    padding-left: 5px;
}

.column-footer p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.0025em;
    line-height: 1.8;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 3px;
}


/*Contact*/

h4, .address {
     font-size: 15px;
     color: #ffffff;
     padding-top: 13px;
    padding-left: 8px;
}

h4 {
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.05em;
}



.icon {
    padding-top: 10px;
    padding-right: 13px;
    padding-left: 5px;
    float: left;
}

.studio_rubric {
     display: table-cell;
     vertical-align: top;
}

.studio_rubric p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 7px;
}

.left p {
     padding-right: 40px;
}


/*Newsletter*/

input[type="email"] {
    height: 41px;
    background-color: rgba(0, 0, 0, 0.1);
    /* box-sizing: border-box; */
    border: 1px solid #9e97b0;
    /* padding-top: 40px; */
    padding-left: 18px;
    float: left;
    width: 190px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    color: red;
}


input[type="image"] {
    float: left;
}

#footer .social a {
    display: inline-block;
    padding-top: 27px;
    padding-right: 8px;
    padding-bottom: 60px;
}

.footer-links a {
    text-decoration: none;
    color: #ffffff; 
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2; 
    float: left;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 5px;
}



.copyright {
    float: right;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding-top: 15px;
}