body {
    margin: 0;
    padding: 0;     
}


/*Header*/
#header {
    color: #ffffff;
    background: transparent url(Images/bg-header.jpg) no-repeat scroll center top;
    height: 667px;
}

.container {
    width: 940px;
    margin: 0 auto;
}

#logo-header {
    float: left;
    padding-top: 15px;
}


/*Main-menu*/
#main-menu {
    float: right;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    line-height: 13px;
    font-weight: 900;
    padding-top: 30px;
}

#main-menu ul {
    margin: 0;
    padding: 0;
}

#main-menu ul li {
    list-style-type: none;
    display: inline-block;
}

#main-menu ul li a {
    text-decoration: none;
    padding: 5px 11px;
    color: #ffffff;
    display: block;
}

#main-menu ul li:last-child a {
    padding-right: 0;
}

#main-menu ul li a:hover,
#main-menu ul li.selected-item a {
     color: #00e0d0;
}


/*Title*/

#text-intro {
    clear: both;
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

#text-intro h1 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 900;
    padding-top: 156px;
}

#text-intro h1:after {
    content: "";
    display: block;
    border-top: 1px solid #00e0d0;
    width: 50px;
    margin: 21px auto 24px;
}

#text-intro p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    word-spacing: 6px;
}

.button-intro {
    color: #00e0d0;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Hammersmith One', sans-serif;
    text-decoration: none;
    border: 1px solid #00e0d0;
    padding: 11px 15px 8px;
    display: inline-block;
    margin-top: 18px;
}


/*Middle-section*/

#middle-section {
   background-color: #ffffff;
}

#logo-about {
    float: left; 
    padding: 73px 100px 73px 65px;
}

#about {
    padding-top: 60px;  
    padding-left: 36px;
}

#about h1 {
    font-family: 'Playfair Display', Arial, serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    color: #413d4b;
    margin-top: 7px;  
}

#about p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.03em;
    line-height: 1.5;
    color: #817f86;   
    padding: 6px;
}

.button-about {
    color: #00e0d0;
    font-size: 16px;
    line-height: 13px;
    font-family: 'Hammersmith One', sans-serif;
    text-decoration: none;
    border: 1px solid #00e0d0;
    padding: 13px;
    display: inline-block;
    margin-top: 9px;   
}


/*Main-articles*/

#main-articles {
    text-align: center;
    max-width: 940px;
    margin: 0 auto;
    padding: 96px 0;
    box-sizing: border-box;
}

span {
    font-family: 'Playfair Display', Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    color: #413d4b;
    margin-right: 10px;
}

#main-articles .expertise:first-child p {
    font-family: 'Playfair Display', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #2f2d35;
}

 .separator-articles {
     border-top: 1px solid #c6c4c9;
     width: 50px;
     height: 2px;
     margin: auto;
     color: #adadad;
}


/*Article column*/

.article-column {
    float: left;
    width: 33.33%;
    margin-top: 77px;
    background: url(Images/border-middle-section.png);   
}

#main-articles h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.05em;
    line-height: 1.5;
    color: #413d4b; 
    padding-top: 13px;
    padding-right: 20px;
}

#main-articles p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 1.5;
    color: #333333;
    margin: 13px;
}


/*Footer*/

#footer {
     background-image: url(Images/bg-footer.png);
     width: 100%;
     height: 400px;
}

.wrapper {
     max-width: 950px;
     width: 100%;
     margin: 0 auto;
     padding: 50px 0;
     box-sizing: border-box;
}

.column-footer {
     float: left;
     width: 33.33%;
}

.clear_div {
     clear: both;
}

#logo-footer {
    padding-top: 9px;
    padding-left: 5px;
}

.column-footer p {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.0025em;
    line-height: 1.8;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 3px;
}

.column-footer .about:last-child a {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: #ffffff;
    padding-right: 27px;
    margin-top: 53px;
    display: inline-block;
}


/*Contact*/

h3, .address {
     font-family: 'Roboto', Arial, sans-serif;
     font-size: 15px;
     color: #ffffff;
     padding-top: 13px;
    padding-left: 8px;
}

h3 {
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.05em;
}

.address {
     display : table;
}

.icon {
    display: table-cell;
    padding-top: 12px;
    padding-right: 9px;
    padding-left: 9px;
    margin-top: 5px;
    float: left;
}

.studio_rubric {
     display: table-cell;
     vertical-align: top;
}

.studio_rubric p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 14px;
}

.left p {
     padding-right: 40px;
}


/*Newsletter*/

input[type="email"] {
    height: 45px;
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border: 1px solid #9e97b0;
    padding-top: 40px;
    padding-left: 48px;
    margin-left: 10px;
}

input {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
}

input[type="image"]:any-link {
     padding-top: 30px;
     padding-left: 15px;
}

.social a {
     display: inline-block;
     padding-top: 27px;
     padding-right: 8px;
    padding-bottom: 60px;
}

.copyright {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-top: 20px;
}